html{
    scroll-behavior: smooth;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(180deg, #0f172a, #020617);
    color: #e5e7eb;
    line-height: 1.6;
    overflow-x: hidden;
}

/* NAV BAR */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15, 23, 42, 0.85);
    backdrop-filter: blur(10px);
    padding: 18px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index: 1000;
}
.nav-right{
    display:flex;
    gap:35px;
}

.brand{
    color:#22d3ee;
    font-size:1.2rem;
    font-weight:700;
    text-decoration:none;
}
nav a {
    color: #cbd5f5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
}
nav a.active {
    color: #22d3ee;
    border-bottom: 2px solid #22d3ee;
    padding-bottom: 4px;
}
nav a:hover {
    color: #22d3ee;
}
.navbar{
    position: sticky;
    top:0;
    background:#0f172a;
    padding:18px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
}

.logo a{
    color:#22d3ee;
    font-size:1.3rem;
    font-weight:700;
    text-decoration:none;
}

.nav-links{
    display:flex;
    gap:28px;
}

.nav-links a{
    color:#e2e8f0;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:#22d3ee;
}

/* HEADER */
.hero {
    height: 100vh;
    background: radial-gradient(circle at top, #1e293b, #020617);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    scroll-snap-align: start;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #f8fafc;
}

.hero p {
    font-size: 1.3rem;
    color: #94a3b8;
}
.tagline{
    margin-top: 12px;
    max-width: 650px;
    text-align: center;
    font-size: 1.05rem;
    color: #94a3b8;
    line-height: 1.5;
}

.roles{
    margin-top: 18px;
    font-size: 1.3rem;
}
#typing {
    color: #22d3ee;
    font-weight: 600;
    white-space: nowrap;
    border-right: 3px solid #22d3ee;
    padding-right: 6px;
    animation: blink 0.8s infinite;
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* PROFILE PHOTO */
.profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

    margin-bottom: 25px;

    border: 4px solid #22d3ee;
    box-shadow: 0 0 30px rgba(34,211,238,0.6);

    animation: float 4s ease-in-out infinite;
}

/* floating animation */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.profile-pic:hover{
    transform: scale(1.05);
}

/* SECTIONS */
section {
    min-height: 100vh;
    padding: 120px 20px 60px;
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section h2 {
    font-size: 2.2rem;
    margin-bottom: 35px;
    color: #22d3ee;
    border: none;
}
section h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}
/* SECTION SCROLL ANIMATION */
.hidden {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* ABOUT */
#about p {
    max-width: 750px;
    text-align: center;
    color: #cbd5f5;
    font-size:1.4rem;
}

/* SKILLS */
#skills ul {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

#skills li {
    list-style: none;
    background: #1e293b;
    padding: 14px 18px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.06);
    color: #e2e8f0;
    transition: 0.25s;
}

#skills li:hover {
    transform: translateY(-5px);
    border-color: #22d3ee;
}

/* CURRENTLY LEARNING SECTION */

.learning {
    margin-top: 40px;
    text-align: center;
}

.learning h3 {
    margin-bottom: 18px;
    color: #94a3b8;
    font-size: 1.3rem;
}

.learning-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
}

.learning-badges span {
    background: linear-gradient(135deg, #06b6d4, #22d3ee);
    color: #020617;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.25s;
}

.learning-badges span:hover {
    transform: scale(1.1);
}

/* PROJECTS */
.project {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    max-width: 1000px;
    border: 1px solid rgba(255,255,255,0.08);
    transition: 0.3s;
}

.project:hover {
    transform: translateY(-8px);
    border-color: #22d3ee;
}

.project p {
    color: #cbd5f5;
}
/* PROJECT CARD */

.project-card {
    display: flex;
    gap: 30px;
    max-width: 900px;
    background: #1e293b;
    border-radius: 12px;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.08);
    align-items: center;
    flex-wrap: wrap;
}

.project-card img {
    width: 300px;
    border-radius: 10px;
}

.project-info h3 {
    margin-bottom: 10px;
    color: #f8fafc;
}

.project-info p {
    color: #cbd5f5;
    margin-bottom: 15px;
}

/* TECH STACK */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 18px;
}

.tech-stack span {
    background: #0f172a;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.85rem;
    border: 1px solid rgba(255,255,255,0.08);
}

/* BUTTONS */
.project-buttons a {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    margin-right: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.project-buttons a:first-child {
    background: #22d3ee;
    color: #020617;
}

.project-buttons a:last-child {
    border: 2px solid #22d3ee;
    color: #22d3ee;
}

.project-buttons a:hover {
    transform: translateY(-3px);
}


/* RESUME SECTION */
#resume p {
    margin-bottom: 20px;
    font-size: 1.05rem;
}

/* RESUME BUTTON */
.resume-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.view-btn {
    background: linear-gradient(135deg, #06b6d4, #22d3ee);
    color: #020617;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}
.view-btn:hover {
    transform: scale(1.08);
}
.resume-btn {
    background: linear-gradient(135deg, #06b6d4, #22d3ee);
    color: #020617;
    padding: 14px 28px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}
.resume-btn:hover {
    transform: scale(1.08);
}

/* CONTACT */
#contact p {
    font-size: 1.1rem;
}
.contact-icons {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.contact-icons a {
    font-size: 28px;
    color: #cbd5f5;
    transition: 0.3s;
}

.contact-icons a:hover {
    color: #22d3ee;
    transform: translateY(-5px) scale(1.15);
}



/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color:#111;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    section {
        margin: 20px;
        padding: 25px;
    }

    nav {
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
        text-align: center;
    }

    .project-card img {
        width: 100%;
        max-width: 350px;
    }
}
