* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Segoe UI" Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f8;
    color: #333;
    line-height: 1.6;

}
/* NAV BAR */
nav {
    position: sticky;
    top: 0;
    background: #111;
    padding: 15px 30px;
    display: flex;
    justify-content:flex-end;
    gap: 30px;
    z-index: 1000;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}
nav a:hover {
    color: #00bcd4;
}

/* HEADER */
header {
    background:linear-gradient(135deg,#111, #333);
    color:#fff;
    padding: 70px 20px;
    text-align: center;
}
header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
Header p {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* SECTIONS */
section {
    max-width: 1500px;
    margin: 40px auto;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-left: 5px solid #00bcd4;
    padding-left: 15px;
}

/* SKILLS */
#skills ul {
    list-style: none;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    gap: 15px;
}
#skills li {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    font-size: 0.9rem;
}
/* PROJECTS */
.project {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.project:hover {
    transform: translate(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.project h3 {
    margin-bottom: 10px;
}
.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background: #00bcd4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
}
.project a:hover {
    background: #0097a7;
}

/* CONTACT */
#contact p {
    font-size: 1.1rem;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color:#111;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    section {
        margin: 20px;
        padding: 25px;
    }

    nav {
        flex-wrap: wrap;
        gap: 15px;
    }
}